body {
    font-family: 'Gotham Book', $fallback;
}

.no-margin {
    margin: 0;
}

.tagline {
    font-family: $fallback;
    text-transform: uppercase;
    color: #01277d;
    font-weight: 700;
}

.steps {
    padding: 12px 17px;
    border: none;
    background: #d68d00;
    color: #fff;
    font-weight: bold;
    @include border-radius(20px);
}   

header {
    height: 90px;
    padding-top: 10px;
    padding-bottom: 10px;

    .header-left {

        .logo {
            height: 70px;
        }        

        > div {
            display: table-cell;
            vertical-align: middle;
        }

    }

    .header-right {

        ul {
            list-style: none;
        }

        li {
            padding-left: 1.8em;
        }

        li:before {
            content: "\f00c";
            color: #3e9d03;
            font-family: FontAwesome;
            display: inline-block;
            margin-left: -1.3em;
            width: 1.3em;
        }

    }

}

#main {
    background: #032b69 url('../../images/glow.png') center bottom no-repeat;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;

    h2 {
        font-weight: 300;
    }

    h3 {
        margin-top: 7px;
    }

    .headspan {
        font-size: 16px;
    }

    .fancyform {

        form {
            width: 80%;

            .form-group {
                margin-top: 30px;

                label {
                    font-size: 13px;
                    font-weight: 500;
                    margin-bottom: 13px;
                }

                .input-group {
                    padding: 15px;
                    background: #fff;
                    @include border-radius(50px);

                    input {
                        border: none;
                        box-shadow: none;
                    }

                    .input-group-btn {
                        width: auto;

                        .btn {
                            border: none;
                            background: none;
                            box-shadow: none;                    
                        }
                    }

                }
            }

            > div:last-child {
                text-align: center;
                a {
                    color: #fff;
                    text-decoration: underline;
                }
            }
        }
    }

    .reviews {

        .media {
            padding-top: 5px;
            padding-bottom: 20px;
            border-bottom: 1px solid #4e8bb9;

            .media-left {
                width: 22%;

                img {
                    margin: auto;
                    width: 80%;
                    margin-bottom: 8px;
                    border: 2px solid #2976ad;
                }

                .name {
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 15px;
                }

                .address {
                    font-size: 11px;
                    font-weight: 300;
                    line-height: 13px;
                }
            }

            .media-body {
                width: 78%;
                font-size: 13px;

                .media-heading {
                    font-size: 13px;
                    margin-bottom: 10px;

                    .fa-star {
                        color: #d89108;
                        margin: 0 2px;
                        &:first-child {
                            margin-left: 15px;
                        }
                    }
                }

                div:last-child {
                    text-align: right;
                    background: url('../../images/book.png') center right no-repeat;
                    padding-right: 20px;
                    margin-top: 10px;

                    a {
                        color: #fbd243;
                        text-decoration: none;
                    }
                }

            }

            &:last-child {
                border-bottom: none;
            }

        }

    }

}

footer {
    padding-top: 30px;
    padding-bottom: 30px;

    .container {
        border-bottom: 1px solid #efefef;
    }

    p {
        font-size: 12px;
        line-height: 22px;
        color: #929ba4;

        &:first-of-type {
            margin-top: 20px;
            margin-bottom: 30px;
        }
    }

    a {
        color: #929ba4;
        text-decoration: none;
        margin-left: 1.3em;

        &:first-child {
            margin-left: 0;
        }

        &:after {
            content: "\f111";
            font-size: 4px;
            font-family: FontAwesome;
            display: inline-block;
            margin-left: 6em;
            width: 1.3em;
            vertical-align: bottom;
        }

        &:last-child:after {
            content: none;
        }

        &:hover:after {
            color: #929ba4;
        }
    }

    .seals {

        img {
            float: right;
            margin-bottom: 20px;
        }
    }
}


.modal-main {
    padding: 45px 35px;
    .question {
        margin-bottom: 30px;
        .steps {
            padding: 8px 13px;
            margin-right: 15px;
        }
    }

    .checkbox {
        label {
            padding-left: 4px;
            &:after {
                content: '';
                display: table;
                clear: both;
            }
            input[type="checkbox"] {
                display: none;
            }
            input[type="checkbox"] + .cr > .cr-icon {
                transform: scale(3) rotateZ(-20deg);
                opacity: 0;
                transition: all .3s ease-in;
            }
            input[type="checkbox"]:checked + .cr > .cr-icon {
                transform: scale(1) rotateZ(0deg);
                opacity: 1;
            }
            input[type="checkbox"]:disabled + .cr {
                opacity: .5;
            }
        }
        .cr {
            position: relative;
            display: inline-block;
            border: 1px solid #a9a9a9;
            border-radius: .25em;
            width: 1.3em;
            height: 1.3em;
            float: left;
            margin-right: .5em;

            .cr-icon {
                position: absolute;
                font-size: .8em;
                line-height: 0;
                top: 50%;
                left: 20%;
            }
        }  
    }

    > div:last-child {
        text-align: center;
        margin-top: 50px;
    }
}